<p>Points: {{course.sections[0].points}}</p>
<p class="description">{{course.description}}</p>
<table class="sections">
  <thead>
    <tr>
      <th>Call Number</th>
      <th>Instructor</th>
      <th>Time</th>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    <tr 
        id="{{section.callNumber}}"
        ng-show="section.callNumber"
        ng-repeat="section in course.sections"
        ng-class="{'selected': section.isSelected()}">
      <td>
        <code>
          <a
            target="_blank"
            ng-href="{{section|bulletinLink}}">
            #{{section.callNumber}}
          </a>
        </code>
      </td>
      <td>
        <a
          target="_blank"
          ng-href="{{section|culpaLink}}">
          {{section.instructor}}
        </a>
      </td>
      <td
        ng-show="section.data.MeetsOn && section.data.StartTime && section.data.EndTime">
        <div ng-repeat="j in section.data.MeetsOn">
        {{section.data.MeetsOn[$index]}} {{section.data.StartTime[$index]|readableTime}} &ndash; {{section.data.EndTime[$index]|readableTime}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button
  class="small success"
  ng-click="changeSections(course)"
  ng-show="course.sections.length > 1">
  Change Section
</button>
<button
  ng-click="removeCourse(course)"
  class="small alert">
  <i class="icon-remove-sign"></i>
  Remove Course
</button>
