<div class="panel radius courseBlock">
  <h4 class="subheader">Current Courses</h4>
  <h5
    class="subheader"
    ng-show="getTotalPoints() > 0">
    {{getTotalPoints()}} credits
  </h5>
  <h5
    class="subheader"
    ng-hide="getTotalPoints() > 0">
    :( <br /> No Courses. Go add some!
  </h5>
  <ul>
    <li class="courseItem" ng-repeat="course in rawCourses">
      <p class="courseTitle"><strong>{{course.id}}</strong>
      <a class="removeButton" ng-click="removeCourse(course.id)">x</a>
    </li>
  </ul>
</div>
