<div class="messages">
  <!--<div data-alert class="alert-box forest">
    We have updated with Fall 2014 data!
  </div>-->
</div>
<div class="panel radius courseBlock">
  <h4 class="subheader">Current Courses</h4>
  <h5
    class="subheader"
    ng-show="schedule.getTotalPoints() > 0">
    {{schedule.getTotalPoints()}} credits
  </h5>
  <h5
    class="subheader"
    ng-hide="schedule.courses.length > 0">
    <i class="fa fa-2x fa-meh-o"></i>
    <br /> No Courses. Go add some!
  </h5>
  <ul>
    <li
      class="courseItem"
      ng-repeat="course in schedule.courses"
      ng-class="course.color"
      data-placement="right"
      data-original-title="{{course.id}}: {{course.title}}"
      data-unique="1"
      bs-popover="'partials/directives/course-popover.html'"
      ng-controller="popoverCtrl">
      <p class="courseTitle">
        <strong>{{course.displayName}}</strong>
        <i class="fa fa-info-circle"></i>
      </p>
      <!-- <i class="fa fa-times" ng-click="removeCourse()"></i> -->
    </li>
  </ul>
  <p class="share">Copy link to share:</p>
  <input
    class="page-url"
    type="text"
    readonly="readonly"
    ng-model="pageUrl"
    onclick="this.select();">
    <p class='share'>
    Add to
    <a href="https://support.google.com/calendar/answer/37118?hl=en">GCal</a>
    /<a href="http://support.apple.com/kb/PH11524">iCal</a>
    </p>
  <button
    class="small blue"
    ng-click="schedule.getCalendar()"
  >
    Export Calendar
    <i class="fa fa-download"></i>
  </button>
    <span data-tooltip ui-jq="tooltip" ui-options="{placement:'bottom'}" class="has-tip" title="Safari may not support this feature">
      <i class="fa fa-info-circle calendarInfo"></i>
    </span>
</div>