<div class="panel radius courseBlock">
  <h4 class="subheader">Current Courses</h4>
  <h5
    class="subheader"
    ng-show="schedule.getTotalPoints() > 0">
    {{schedule.getTotalPoints()}} credits
  </h5>
  <h5
    class="subheader"
    ng-hide="schedule.getTotalPoints() > 0">
    <i class="icon-meh"></i>
    <br /> No Courses. Go add some!
  </h5>
  <ul>
    <li class="courseItem" ng-repeat="course in schedule.courses">
      <p class="courseTitle">
        <strong>{{course.id}}</strong>
        <i class="icon-info-sign"></i>
      </p>
    </li>
  </ul>
</div>
