<div class="search">
  <form ng-submit="search()" class="custom"
  >
    <div class="row collapse">
      <div class="small-9 columns">
        <input type="text" name="search_input"
          ng-model="searchQuery"
          ng-change="search()"
          ng-submit="search()"
          placeholder="Type a course title to begin..."
        />
      </div>
      <div class="small-1 columns">
        <button class="prefix" ng-click="clearResults()">Clear</button>
      </div>
      <div class="small-2 columns"
        ui-jq="foundation">
        <select
          id="customDropdown"
          ng-model="selectedSemester"
          ng-options="semester | readableSemester for semester in semesters"
        />
      </div>
    </div>
  </form>
</div>
<div class="results" ng-show="searchResults">
  <ul class="no-bullet">
    <li
      class="course"
      ng-click="courseSelect({course: result})"
      ng-repeat="result in searchResults">
      <p class="course-title">{{result.CourseFull}}: {{result.CourseTitle}}</p>
      <p class="description">{{result.Description}}</p>
    </li>
  </ul>
</div>
