<div id="calendar">
  <table>
    <thead id="daynames">
      <tr>
        <th />
        <th ng-repeat="day in getDays()">{{day | readableDay}}</th>
      </tr>
    </thead>
    <tbody id="daybodies">
    <tr>
      <td id="hours" class="hourColumn">
        <div ng-repeat="hour in getHours()">{{hour | toTwelveHours}}</div>
      </td>
      <td class="dayColumn" ng-repeat="day in sectionsByDay()">
        <div id="day-{{$index}}">
          <div
            ng-repeat="section in day">
            <div
              ng-repeat="subsection in section.subsections | sectionOnDay:$parent.$index"
              class="timeSlotWrapper"
              ng-class="{
                select: section.getParentCourse().state() == CourseState.EXCLUSIVE_VISIBLE
              }"
              ng-click="selectSection(section)"
              ng-style="subsection.css"
              title="{{section.id}}: {{section.title}}">
              <div class="timeSlot">
                <p
                  class="message"
                  ng-show="section.getParentCourse().state() == CourseState.EXCLUSIVE_VISIBLE">
                  <em>Select a section</em>
                </p>
                <p class="timeSlotText timeSlotTitle">
                  <strong>{{section.IDFull}}</strong>:
                  {{section.title}}
                </p>
              </div>
              <div class="bottom-fade"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="guides">
    <div ng-repeat="hour in getHours()" id="{{hour + '-guide'}}"></div>
  </div>
</div>
