[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = git@github.com:willdurand/puppet-nodejs.git
[submodule "puppet/modules/mongodb"]
	path = puppet/modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "puppet/modules/supervisord"]
	path = puppet/modules/supervisord
	url = git@github.com:adicu/puppet-supervisord
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
