/* Application */
#container { width: 960px; margin: 0 auto; position: relative; }
header img#seal { position: absolute; top: 220px; left: 410px; z-index: -1; opacity: 0.1; }

span#byline {color: #999; opacity: 0.5;}
span#byline a {text-decoration: none; color: #999;}
span#byline a img {position: relative; top: 3px;}
span#byline:hover {opacity: 1.0;}

footer { padding-bottom: 1em; }
footer p { text-align: right; color: #999;}
footer a { color: #999;}
footer a:hover { color: #666;}

div.noscript{ margin: 40px 0; }
strong { font-weight: bold; }

#fb_share_link { border:none; overflow:hidden; width: 175px; height:21px; position: relative; top: 12px; float: right;}

/* Browser */

#print { background: transparent; border: none; position: absolute; top: 12px; right: 0; color: #222; font-size: 0.8em; text-decoration: underline; padding: 0.25em 0.5em 0.05em 0.5em; border: 1px solid #fff; }
#print:hover { cursor: pointer; background-color: #eee; border: 1px solid #ccc;}

.timeslot_popup td a:hover { color: #666; }
.timeSlotTitle {width: 95%;}
.timeSlotCallNumber {margin-top: 3px; font-size: .85em; }
.timeSlotPoints {margin-top: 3px; font-size: .85em; }

#adi-logo {display: block; position: relative; top: 3px;}

.reportBug { float: right; }
.byline { float: left; }
