<button id="print">Print</button>
<div id="browser">
<div class="search">
  <input type="text" name="search_input" style="color: rgb(188, 188, 188);">
  <select ng-model="selectedSemester" ng-options="semester | readableSemester for semester in semesters"></select>
  <button>Search</button>
</div>
<div class="results" style="display: none;">
  <ul></ul>
  <p class="clear_results">Clear results</p>
</div>
</div>
<div id="calendar">
<table>
  <thead id="daynames">
    <tr>
      <th style="height: 42px;"></th>
      <th style="height: 42px;" ng-repeat="day in days">{{day}}</th>
    </tr>
  </thead>
  <tbody id="daybodies">
    <tr>
      <td id="hours" class="hourColumn">
        <div style="height: 42px;" ng-repeat="hour in hours">{{hour | toTwelveHours}}</div>
      </td>
      <td class="dayColumn" style="height: 672px;" ng-repeat="day in days">
        <div id="{{day}}"></div>
      </td>
    </tr>
  </tbody>
</table>
<div id="guides">
  <div style="height: 41px;" ng-repeat="hour in hours" id="{{hour + '-guide'}}"></div>
</div>
</div>