@import (reference) "/client/stylesheets/colors.import.less";

nav.top-bar {
  i.fa-facebook {
    margin-right: 0.5em;
  }

  .help-text {
    font-size: 0.6rem;
    line-height: 1rem;
    color: #ccc;
    padding: 1rem;
    margin-top: -1rem;
    margin-bottom: 0;
  }
}

.scheduleSidebar.panel {
  height: 100%;
}

.alert-box {
    background-color: @blue;
    border: none;
    padding: 0.375rem 1.5rem 0.375rem 0.875rem;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background-color: @blue;

    &:hover {
        background-color: @blue-dk;
    }
}