/* Application */
header h1 { font-size: 1.5em; }
header img#seal { position: absolute; top: 220px; left: 410px; z-index: -1; opacity: 0.1; }

span#byline {color: #777;}

footer {
  padding-bottom: 1em;
  color: #888;
}
footer a {
  color: #888;
}
footer a:hover { color: #666;}
footer div#reportBug { text-align: right; padding-right: 30px; }

div.noscript{ margin: 40px 0; }
strong { font-weight: bold; }


#fb_share_link { border:none; overflow:hidden; width: 175px; height:21px; position: relative; top: 12px; float: right;}

#print { background: transparent; border: none; position: absolute; top: 12px; right: 0; color: #222; font-size: 0.8em; text-decoration: underline; padding: 0.25em 0.5em 0.05em 0.5em; border: 1px solid #fff; }
#print:hover { cursor: pointer; background-color: #eee; border: 1px solid #ccc;}
#browser {
  position: relative;
}

#browser div.results {
  position: absolute; left: 0; top: 50px; z-index: 7;
  border: 10px solid #75B2DD;
  background: white;
  width: 100%;
}
#browser .results ul, #browser .results p.clear_results { background: rgba( 255, 255, 255, 0.95); }
#browser .results li { padding: 10px; font-size: 1.1em; }
#browser .results li:hover { padding: 10px; font-size: 1.1em; background: #dddde9; cursor: pointer; }
#browser p.course-title {
  margin-bottom: 0em;
  font-weight: bold;
  font-size: 0.9em;
}
#browser .results li p.description {
  font-size: 0.8em;
  margin-bottom: 0em;
}

div.errorMessage {
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
div.errorMessage > div.box {
  position: absolute; top: 40%; left: 50%;
  margin-left: -200px;
  padding: 20px 20px;
  background: #ddddf0;
  box-shadow:         1px 1px 5px #333;
  -moz-box-shadow:    1px 1px 5px #333;
  -webkit-box-shadow: 1px 1px 5px #333;
  width: 400px; }
.errorMessage p { color: #222; }
.errorMessage button { padding: 5px 10px; margin: 10px 10px 0 0; }
div.errorMessage > div.box, div.errorMessage > div.backdrop {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#calendar { position: relative; }
#calendar table {
  background: none;
}
#calendar #guides { position: absolute; top: 32px; left: 0; width: 100%; max-width: 960px; z-index: -1; }
#calendar #guides div { border-bottom: 1px solid #DFDFDF; height: 38px; }
#calendar #daynames th { text-align: center; }
#calendar td.dayColumn { width: 20%; padding: 0 0 0 1px; height: 642px;}
#calendar td.dayColumn > div { position: relative; height: 100%; width: 100%; }
#calendar td.dayColumn .timeSlotWrapper {
  position: absolute;
  width: 100%;
  background: #e9e9f5;
  border-radius: 9px;
  overflow: hidden;
  -moz-border-radius: 9px;
  border:1px solid #222;}
#calendar div.timeSlotWrapper:hover { cursor: pointer; background: #333350; color: white; }
#calendar .timeSlotWrapper .remove_link, .timeslot_popup .remove_link {
  position: absolute; top: 0px; right: 3px; background: transparent; border: none; color: grey; font-weight: bold; font-size: 1.3em; padding: 0 5px;}
.timeslot_popup .remove_link:hover {cursor:pointer; color: #222;}
#calendar .timeSlotWrapper {
  text-align: center;
}
#calendar .timeSlotWrapper p:first-child { margin-right: 13px; }
#calendar .timeSlotWrapper .remove_link { color: black; z-index:5; float:right; }
#calendar .timeSlotWrapper:hover .remove_link { color: #bbb; }
#calendar .timeSlotWrapper > div { padding: 5px; font-size: 0.85em; line-height: 1.1em; }
#calendar .timeSlotWrapper:hover .remove_link:hover { color: #fff; }
p.timeSlotSections {
  font-style: italic;
}

#calendar td.hourColumn {
  width: 35px;
  padding: 8px 5px 0px 9px;
  text-align: right;
  font-size: 0.9em;
}
#calendar td.hourColumn div {
  position: relative;
  padding-right: 0.3em;
  line-height: normal;
  height: 38px;
}
div#fade {
    display: none;
    background: rgba( 0, 0, 0, 0.2 );
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 6; }

.box {
  z-index: 10;
}
div.timeSlot {
  height: 100%;
}
div.timeSlot p {
  margin: 0;
}
.timeSlotTitle { vertical-align: middle; width: 95%;}
.timeSlotCallNumber {margin-top: 3px; font-size: .85em; }
.timeSlotPoints {margin-top: 3px; font-size: .85em; }

#adi-logo {display: block; position: relative; top: 3px;}

div#app {
  margin-top: 2em;
}