/* Color options:
 * turquoise, green, blue, purple, midnight, yellow, orange, red
 */

@deep: #2D7DCD;
@deep-dk: darken(@deep, 5%);
.deep {
	color: white;
	background-color: @deep;
	border: 1px solid  @deep-dk;

	&:hover{ background-color: @deep-dk; }
}

@forest: #19a153;
@forest-dk: darken(@forest, 5%);
.forest {
	color: white;
	background-color: @forest;
	border: 1px solid  @forest-dk;

	&:hover{ background-color: @forest-dk; }
}

@green: #4DD666;
@green-dk: darken(@green, 5%);
.green {
	color: white;
	background-color: @green;
	border: 1px solid  @green-dk;

	&:hover{ background-color: @green-dk; }
}

@blue: #5faee3;
@blue-dk: darken(@blue, 5%);
.blue {
	color: white;
	background-color: @blue;
	border: 1px solid  @blue-dk;

	&:hover{ background-color: @blue-dk; }
}

@purple: #9f77e2;
@purple-dk: darken(@purple, 5%);
.purple {
	color: white;
	background-color: @purple;
	border: 1px solid  @purple-dk;

	&:hover{ background-color: @purple-dk; }
}

@midnight: #46627f;
@midnight-dk: darken(@midnight, 5%);
.midnight {
	color: white;
	background-color: @midnight;
	border: 1px solid  @midnight-dk;

	&:hover{ background-color: @midnight-dk; }
}

@yellow: #EBE306;
@yellow-dk: darken(@yellow, 1%);
.yellow {
	color: white;
	background-color: @yellow;
	border: 1px solid  @yellow-dk;

	&:hover{ background-color: @yellow-dk; }
}

@orange: #f5b043;
@orange-dk: darken(@orange, 5%);
.orange {
	color: white;
	background-color: @orange;
	border: 1px solid  @orange-dk;

	&:hover{ background-color: @orange-dk; }
}

@red: #FF614C;
@red-dk: darken(@red, 5%);
.red {
	color: white;
	background-color: @red;
	border: 1px solid  @red-dk;

	&:hover{ background-color: @red-dk; }
}

@gray: #A6A6A6;
@gray-dk: darken(@gray, 5%);
.gray {
	color: white;
	background-color: @gray;
	border: 1px solid @gray-dk;

	&:hover{ background-color: @gray-dk; }
}