<div id="browser">
  <div class="messages">
    <div data-alert class="alert-box">
      ADI is working diligently to get Fall 2014 data from CUIT. The site will be updated shortly.
    </div>
  </div>
  <search-area
    onselect="courseSelect(course)"
    schedule="schedule"
    semesters="semesters"
  />
</div>

<div class="row">
  <div class="large-9 large-push-3 columns">
    <week-view
      schedule="schedule"
      onsectionclicked="sectionClicked(section)"
    />
  </div>
  <div class="large-3 large-pull-9 columns">
    <course-block
      schedule="schedule"
    />
  </div>
</div>

<div section-modal />
