<template name="scheduleSidebar">
  <div class="panel radius scheduleSidebar">
    <h4 class="subheader">Current Courses</h4>
    {{#if schedule.getCourseFulls}}
      <h5
        class="subheader">
        {{schedule.getTotalPoints}} {{formatCreditLabel}}
      </h5>
    {{else}}
      <h5
        class="subheader">
        <i class="fa fa-2x fa-meh-o"></i>
        <br/> No Courses. Go add some!
      </h5>
    {{/if}}
    <dl class="accordion">
      {{#each getCourses}}
        {{> scheduleSidebarItem
          schedule=../schedule
          course=.
        }}
      {{/each}}
    </dl>
  </div>
</template>

<template name="scheduleSidebarItem">
  <dd class="accordionItem accordionItem-{{course.courseFull}}">
    <a href="#" onclick="return false;" data-coursefull="{{course.courseFull}}">
      <div class="courseItem {{getSidebarClasses}}">
        <p class="courseTitle">
          <strong>{{course.courseFull}}</strong>
        </p>
        <i class="fa fa-caret-right"></i>
        <i class="fa fa-caret-down"></i>
      </div>
    </a>
    <div class="content panel-{{course.courseFull}}">
      <p class="courseTitle">
        {{toTitleCase course.courseTitle}}
      </p>
      <ul class="no-bullet sectionsList">
        {{#each getAbbrevSections}}
          {{> scheduleSidebarSection
            schedule=../schedule
            section=.
          }}
        {{/each}}
        {{#if hasMoreSections}}
          <li>
            <a href="#" onclick="return false;">
              See more sections...
            </a>
          </li>
        {{else}}
          <li>
            <a href="#" onclick="return false;">
              More information
            </a>
          </li>
        {{/if}}
      </ul>
      <button class="small alert radius deleteCourse">
        <i class="fa fa-trash-o"></i>
        Delete Course
      </button>
    </div>
  </dd>
</template>

<template name="scheduleSidebarSection">
  <li class="scheduleSidebarSection">
    <input
      class="sectionSelect"
      type="checkbox"
      checked="{{schedule.isSelected section.sectionFull}}">
    <div class="sectionInfo">
      <p class="instructorLast">
        {{instructorLast section.instructors}}
      </p>
      <br>
      <p class="sectionTimes">
        {{formatSectionTimes}}
      </p>
    </div>
  </li>
</template>
