@import "/client/stylesheets/colors.import.less";
@import "/client/stylesheets/sizes.import.less";

// Fullcalendar
// scheduleWeekView
#calendar {
  // Hide today highlight
  .fc-state-highlight {
    background: inherit;
  }
  // Disable foundation alternate row coloring
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: inherit;
  }
  table {
    border: none;
  }
  // Override fullcalendar scrolling
  .fc-view-agendaWeek > div > div[style] {
    overflow-y: hidden !important;
  }
  // Hide time info on events
  .fc-event-time {
    display: none;
  }
  .fc-event {
    cursor: pointer;
  }
}

.scheduleSidebar {
  h4, h5 {
    text-align: center;
  }

  ul {
    margin: 0;
  }

  &.panel {
    padding: 0.8rem 0.5rem;
  }

  @media @large {
    &.panel {
      height: 734px;
      overflow-y: scroll;
    }
  }

  .courseItem {
    border-radius: 2px;
    list-style: none;
    margin: 0px 0px 0.4em 0px;
    position: relative;

    p {
      color: #FFF;
      display: block;
      margin: 0em;
      padding: 0.4em;
      text-align: center;

      i {
        margin-left: 0.4em;
      }
    }

    & > i {
      color: white;
      position: absolute;
      right: 0.6em;
      top: 0.75em;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .removeButton {
    color: #FFF;
    position: absolute;
    right: 0.4em;
    top: -0.2em;
  }

  .accordion {
    .content.active {
      border-style: solid;
      border-width: 1px;
      border-color: @foundation-gray;
      padding: 0.4rem;
      margin-top: -0.4em;
    }
  }

  .accordionItem {
    > a {
      padding: 0;
    }
    .content {
      .courseTitle {
        font-size: 0.9rem;
        line-height: 1.2;
      }
      .fa {
        font-size: 1.6em;
      }
      button.small {
        margin-top: 0.7rem;
        padding: 0.4rem 1rem;
        width: 100%;
      }
    }
    .fa-times {
      display: none;
    }
    &.active {
      .fa-info-circle {
        display: none;
      }
      .fa-times {
        color: @red-dk;
        display: inline-block;
      }
    }
  }

  .sectionsList {
    input {
      margin: 0;
    }
  }
}

#calendar {
  position: relative;
  table {
    background: none;
  }
  #guides {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    max-width: 960px;
    z-index: -1;
    div {
      border-bottom: 1px solid #DFDFDF;
      height: 38px;
    }
  }
  #daynames {
    th {
      text-align: center;
    }
  }
  .dayColumn {
    width: 20%;
    padding: 0 0 0 1px;
    height: 642px;
    & > div {
      position: relative;
      height: 100%;
      width: 100%;
    }
    .timeSlotWrapper {
      border-radius: 2px;
      padding: 0.3em;
      position: absolute;
      width: 100%;
      overflow: hidden;
      -moz-border-radius: 9px;
    }
    .timeSlotWrapper.select:hover {
      cursor: pointer;
    }
    .timeSlotWrapper:hover {
      cursor: pointer;
    }
  }
  .timeSlotWrapper {
    text-align: center;
    p:first-child {
      margin-right: 13px;
    }
    .remove_link {
      color: #FFF;
      z-index: 5;
      float: right;
    }
    & > div {
      font-size: 0.85em;
      line-height: 1.1em;
    }
  }
  .timeSlotWrapper:hover {
    .remove_link:hover {
      color: #fff;
    }
  }
  td.hourColumn {
    width: 35px;
    padding: 0px 5px 0px 9px;
    text-align: right;
    font-size: 0.9em;
    div {
      position: relative;
      padding-right: 0.3em;
      line-height: normal;
      height: 38px;
    }
  }
}

div.timeSlot {
  height: 100%;

  p {
    margin: 0;
  }
}
.timeSlotTitle { vertical-align: middle; width: 95%;}
.timeSlotCallNumber {margin-top: 3px; font-size: .85em; }
.timeSlotPoints {margin-top: 3px; font-size: .85em; }

#browser {
    position: relative;
    div.results {
        position: absolute;
        left: 0;
        top: 50px;
        z-index: 1020;
        border: 10px solid #75B2DD;
        background: white;
        width: 100%;
    }
    .results {
        li {
            padding: 10px;
            font-size: 1.1em;
            p.description {
                font-size: 0.8em;
                margin-bottom: 0em;
            }
        }
        li:hover {
            padding: 10px;
            font-size: 1.1em;
            background: #dddde9;
            cursor: pointer;
        }
    }
    p.course-title {
        margin-bottom: 0em;
        font-weight: bold;
        font-size: 0.9em;
    }
}
#browser .results ul, #browser .results p.clear_results {
    background: rgba( 255, 255, 255, 0.95);
}

