<template name="scheduleView">
  <div id="browser">
    {{> scheduleSearchArea
      schedule=schedule
      semesters=semesters
      searchResults=searchResults
    }}
  </div>

  <div class="row">
    <div class="large-9 large-push-3 columns">
      {{> scheduleWeekView schedule=schedule}}
    </div>
    <div class="large-3 large-pull-9 columns">
      {{> scheduleSidebar schedule=schedule}}
    </div>
  </div>
</template>

<template name="scheduleSearchArea">
  <div class="search">
    <form
      class="custom"
      onkeypress="return event.keyCode != 13;">
      <div class="row">
        <div class="medium-3 columns">
          <div class="row collapse">
            {{#each semesters}}
              <div
                class="small-6 columns semesterToggle button secondary {{semesterClasses}}">
                <p>{{readableSemester}}</p>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="medium-9 columns">
          <input
            type="text"
            id="searchInput"
            name="search_input"
            onsubmit="return false;"
            placeholder="Type a course title or call number to begin. Ex. COMS1004 or 71229"
          />
        </div>
      </div>
    </form>
  </div>

  {{#if searchResults}}
    <div class="results">
      <ul class="no-bullet">
        {{#each searchResults}}
          <li
            class="courseResultItem"
            ng-click="courseSelect({course: result})">
            <p class="course-title">
              {{CourseFull}}: {{CourseTitle}}
            </p>
            <p class="description">
              {{Description}}
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</template>
